body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f9;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #003366;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    width: 300px;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
}

button {
    padding: 10px 15px;
    background: #0055aa;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #003f80;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 90%;
    background: white;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background: #003366;
    color: white;
}
